{% extends 'base.html' %}

{% block contenido %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow-lg p-4 rounded-4">

            <h1 class="text-center mb-4">
                🔐 Iniciar sesión
            </h1>

            <form action="/iniciar_sesion" method="POST">

                <div class="mb-3">

                    <label>Correo</label>

                    <input
                        type="email"
                        name="correo"
                        class="form-control"
                        required>

                </div>

                <div class="mb-3">

                    <label>Contraseña</label>

                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        required>

                </div>

                <button class="btn btn-primary w-100">

                    Iniciar sesión

                </button>

            </form>

            <hr>

            <p class="text-center">

                ¿No tienes cuenta?

                <a href="/registro">

                    Regístrate

                </a>

            </p>

        </div>

    </div>

</div>

{% endblock %}